<a href="https://colab.research.google.com/github/Mrcwr2/Py_Excel_Cell_Formula/blob/main/1_Begin__SUM()%2C_COUNT()%2C_AVERAGE()___more.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Calculating SUM, COUNT, AVERAGE, MIN and MAX
---

## **Excel:**

    =SUM(CELL: CELL)
    =COUNT(CELL: CELL)
    =AVERAGE(CELL: CELL)
    =MIN(CELL: CELL)
    =MAX(CELL: CELL)

## **Python:**

    df['column'].sum()
    df['column'].count()
    df['column'].mean()
    df['column'].min()
    df['column'].max()

<br>

*You can run a calculation on multiple columns by like this:*

    df[['column_1', 'column_2', 'column_3']].sum()

<br>

*You can also run a calculation for every column by running the calculation directly on the dataframe like so:*

    df.mean()

<br>

*You can also apply a calculation across a row by feeding the `axis='columns'` or `axis=1` argument into the calculation parenthesis as follows:*

    df[['column_1', 'column_2', 'column_3']].sum(axis='columns')

<br>

### Load required packages and data
---

In [1]:
# Import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Save Github location paths to a variable
failed_bank_path = 'https://github.com/The-Calculated-Life/python_analysis_for_excel/blob/main/data/failed_banks.xlsx?raw=true'
bx_ratings_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_ratings.csv'

# Read excel and CSV files
bank_detail = pd.read_excel(failed_bank_path, sheet_name='detail')
bx_ratings = pd.read_csv(bx_ratings_path)

<br><br>

### Perform calculations on columns in `bank_detail` dataframe
---

In [3]:
# View "bank_detail" dataframe
bank_detail.head()

    CERT      FIN     CHARTER  ESTIMATED LOSS  ASSETS  DEPOSITS RESOLUTION
0  14361  10536.0  COMMERCIAL             NaN  152400    139526    FAILURE
1  18265  10535.0  COMMERCIAL             NaN  100879     95159    FAILURE
2  21111  10534.0  COMMERCIAL          2491.0  120574    111234    FAILURE
3  58112  10532.0  COMMERCIAL          4547.0   29726     26473    FAILURE
4  58317  10533.0       OTHER          2188.0   27119     26151    FAILURE

In [4]:
# What is the total ESTIMATED LOSS across all failed banks?
bank_detail['ESTIMATED LOSS'].sum()

73358809.0

In [5]:
# What is the total for every column in the bank_detail dataframe?
bank_detail.sum()

CERT                                                       18231125
FIN                                                     5.65426e+06
CHARTER           COMMERCIALCOMMERCIALCOMMERCIALCOMMERCIALOTHERC...
ESTIMATED LOSS                                          7.33588e+07
ASSETS                                                   3934131080
DEPOSITS                                                 1890987202
RESOLUTION        FAILUREFAILUREFAILUREFAILUREFAILUREFAILUREFAIL...
dtype: object

In [6]:
# What is the total ESTIMATED LOSS and DEPOSITS across all failed banks?
bank_detail[['ESTIMATED LOSS' , 'DEPOSITS']].sum()

ESTIMATED LOSS    7.335881e+07
DEPOSITS          1.890987e+09
dtype: float64

In [7]:
# What is the total ASSETS and DEPOSITS (ASSETS + DEPOSITS) for each bank in the dataframe?
bank_detail[['ASSETS', 'DEPOSITS']].sum(axis='columns')

0      291926
1      196038
2      231808
3       56199
4       53270
        ...
574    162625
575     52609
576     15603
577     63713
578    173593
Length: 579, dtype: int64

In [8]:
# How many failed banks are there in the dataframe?
bank_detail['CERT'].count()

579

In [9]:
# What was the average ESTIMATED LOSS for failed banks?
bank_detail['ESTIMATED LOSS'].mean()

130299.83836589698

In [10]:
# What was the highest ESTIMATED LOSS for failed banks?
bank_detail['ESTIMATED LOSS'].max()

12072214.0

In [11]:
# What was the lowest ESTIMATED LOSS?
bank_detail['ESTIMATED LOSS'].min()

0.0

<br><br>
**QUICK CHALLENGE #1:**

**Task: Calculate the average book rating in the `bx_ratings` dataframe**

<br><br>
**QUICK CHALLENGE #2:**

There are many other different calculations that can be performed using the approach above.

<br>

**Task: Test one or more of the following functions on the `rating` column in the `bx_ratings` dataframe:**

*   median() - Finds the middle values
*   mode() - Finds the most repeated value
*   std() - Calculates the standard deviation
*   var() - Calculates the variance

In [13]:
# Your code for quick challenge #1 here:
bx_ratings.head()

   user_id        isbn  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [16]:
# Your code for quick challenge #1 here:

bx_ratings['rating'].median()

0.0

In [17]:
# Your code for quick challenge #2 here:
bx_ratings['rating'].var()

14.854733220364443